<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a><i class="fa-brands fa-square-facebook"></i></a>
            <a><i class="fa-brands fa-square-instagram"></i></a>
            <a><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
        <div>&copy; Wondurlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms and Conditions</a>
        </div>
        <div class="contact f-info-links">
            <i>Contact developer</i>  <br>
            <a href=""><i class="fa-solid fa-envelope"></i>faiz18513@gmail.com</a> <br>
            <a href="https://www.linkedin.com/in/faiz-hussain-257001250/"><i class="fa-brands fa-linkedin"></i>Linkedin</a>
        </div>
    </div>
</footer>