<% layout("layout/boilerplate") %>
<style>
  .filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  .filter{
    margin-left: 2rem;
    text-align: center;
  }
  .filter:hover{
    opacity: 0.7;
    cursor:pointer;
  }
</style>
<body>
    <div class="filters mt-3 ">
      <div class="filter"><i class="fa-solid fa-fire"></i><p>Trendings</p></div>
      

      <div class="filter"><i class="fa-solid fa-bed"></i><p>Rooms</p></div>
      

      <div class="filter"><i class="fa-solid fa-tractor"></i><p>Farms</p></div>
      

      <div class="filter"><i class="fa-solid fa-water-ladder"></i><p>Pool</p></div>
      

      <div class="filter"><i class="fa-solid fa-tree-city"></i><p>Treehouse</p></div>
      

      <div class="filter"><i class="fa-solid fa-umbrella-beach"></i><p>Beach front</p></div>
      

      <div class="filter"><i class="fa-solid fa-person-skiing-nordic"></i><p>Countryside</p></div>
      
      <div class="filter"><i class="fa-solid fa-tree"></i><p>Island</p></div>

      <div class="filter"><i class="fa-solid fa-paw"></i><p>Caves</p></div>

      <div class="filter"><i class="fa-solid fa-water"></i><p>Lakes</p></div>

      <div class="form-check form-switch form-check-reverse mt-2">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Total after Tax</label>
      </div>
    </div>
    


   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
   <%   for(let listing of allListings) { %>
    <a href="/listings/<%=listing._id %>" class="listing-link">
    <div class="card card-listing col" >
        <img src="<%= listing.image.url %>" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">
           <b> <%= listing.title %></b>
          </p>
          <i class="fa-solid fa-indian-rupee-sign"></i><%= listing.price %>/night <i class="tax-info">+18% GST</i>
        </div>
      </div>
    </a>
   <%   } %>
</div>

</body>

<script>
  const filter=document.querySelector(".filter");
  filter.addEventListener("click",()=>{
    alert("this function is not available Now!");
  })

  const taxSwitch=document.getElementById("flexSwitchCheckDefault");
  const taxInfo= document.querySelector(".tax-info");

  taxSwitch.addEventListener("click",()=>{
    for(tax of taxInfo){
      if(tax.style.display != "inline"){
        tax.style.display="inline";
      }
      else{
        tax.style.display="none";
      }
    }
  })
</script>
