<% layout("layout/boilerplate") %>
    <body>
        <div class="row">
            <h3 class="col-6 offset-3">Login</h3>
            <hr>
            <div class="col-6 offset-3">
                <form method="POST" action="/login">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input name="username" id="username" type="text" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input name="password" id="password" type="password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </body>